@model MvcTicariOtomasyonu.Models.Siniflar.Faturalar
@{
    ViewBag.Title = "FaturaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Fatura Guncelle</h2>
<br />
@using (Html.BeginForm("FaturaGuncelle", "Fatura", FormMethod.Post))
{
    @Html.HiddenFor(x => x.id)
        @Html.LabelFor(x => x.seriNo, "Seri No")
        @Html.TextBoxFor(x => x.seriNo, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.sıraNo, "Sıra No")
        @Html.TextBoxFor(x => x.sıraNo, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.vergiDairesi, "Vergi Dairesi")
        @Html.TextBoxFor(x => x.vergiDairesi, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.tarih, "Tarih")
        @Html.TextBoxFor(x => x.tarih, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.saat, "Saat")
        @Html.TextBoxFor(x => x.saat, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.teslimVeren, "Teslim eden")
        @Html.TextBoxFor(x => x.teslimVeren, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.teslimAlan, "Teslim Alan")
        @Html.TextBoxFor(x => x.teslimAlan, new { @class = "form-control" })
        <br />
        <button class="btn btn-warning">Güncelle</button>
}