@using MvcTicariOtomasyonu.Models.Siniflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Departman</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Seri No</th>
        <th>Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.id</td>
            <td>@x.seriNo</td>
            <td>@x.sıraNo</td>
            <td>@x.vergiDairesi</td>
            <td>@x.tarih</td>
            <td>@x.saat</td>
            <td>@x.teslimVeren</td>
            <td>@x.teslimAlan</td>
            <td>100</td>
            <td><a href="/Fatura/FaturaGetir/@x.id" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetay/@x.id" class="btn btn-warning">Detay</a></td>
        </tr>
    }
</table>
<a class="btn btn-primary" href="/Fatura/FaturaEkle">Yeni Fatura</a>