@model MvcTicariOtomasyonu.Models.Siniflar.Cariler
@{
    ViewBag.Title = "CariGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Cari Güncelle</h2>
<br />
@using (Html.BeginForm("CariGuncelle", "Cari", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.id)
        @Html.LabelFor(x => x.ad, "Cari Ad")
        @Html.TextBoxFor(x => x.ad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ad, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.soyad, "Cari Soyad")
        @Html.TextBoxFor(x => x.soyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.soyad, "", new { @style = "color:orange" })
        <br />
        @Html.LabelFor(x => x.sehir, "Cari Şehir")
        @Html.TextBoxFor(x => x.sehir, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.mail, "Cari Mail")
        @Html.TextBoxFor(x => x.mail, new { @class = "form-control" })
        <br />
        <button class="btn btn-warning">Güncelle</button>
    </div>
}