@model MvcTicariOtomasyonu.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Personel</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.ad, "Ad")
    @Html.TextBoxFor(x => x.ad, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.soyad, "Soyad")
    @Html.TextBoxFor(x => x.soyad, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.gorsel, "Görsel")
    @Html.TextBoxFor(x => x.gorsel, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.departman, "Departman")
    @Html.DropDownListFor(x => x.departmanId, (List<SelectListItem>)ViewBag.dgr,new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>